body {
    background-color: unset;
  }
/* table {
  border-collapse: collapse;
  width: 100%;
} */
th, td {
  text-align: left;
  padding: 8px;
}
tbody>tr:nth-child(even){background-color: #f2f2f2 !important}
tbody>tr:nth-child(odd){background-color: #fff !important}
img {
    width: 100%;
    height: auto;
    padding: 2%;
  }
#map { height: 550px; }
.navbar-text {
  align-items: flex-end;
}
nav.navbar-nav {
  align-items: flex-end;
}
nav.navbar {
   justify-content: flex-end;
}
body {
  color: #fff9f9;
  /* background-color: rgb(114, 54, 54); */
  }
  h1 {
  /* color: brown; */
  font-size: xx-large;
        
  }
  .header {
    /* font-size:36pt; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        /* text-transform: uppercase; */
    color: white;
  }
  .center {
    text-align: center;
  }
  h3 {
  color: silver;
  font-style: italic;
  }
  .jumbotron {
  background-image: url('https://wallpaperaccess.com/full/1743472.jpg')
     
}
  .btn {
  background-color: black;
  border-color: black;
  }
  th {
    color: white;
    text-align: left;
    font-weight:bold
    
  }
  td {
    color: white;
  }
  .img-fluid {
    text-align:center;
  }

/* Ana CSS */
